<%  @title = "Request · Phone Interview" %>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="request.js"></script>
<div class="container-fluid">
	<div id="alert-container"></div>
	<div class="form-container">
		<form action="/submit" method="post">
			<h1 class="page-header">Request</h1>
			<p>Please fill in the following form to request a phone interview:</p>
			<input id="name" type="text" name="name" placeholder="Name" class="input-block-level">
			<input id="email" type="text" name="email" placeholder="Email" class="input-block-level">
			<input id="phone" type="text" name="phone" placeholder="Phone or Skype" class="input-block-level">
			<select id="time" name="time" class="select-block-level">
			 	<option value="">Choose preferred time…</option>
			 	<option value="Morning">Morning</option>
			  	<option value="Afternoon">Afternoon</option>
			  	<option value="Evening">Evening</option>
			</select>
			<hr>
			<input type="submit" class="btn btn-large btn-primary btn-block" value="Send">
		</form>
	</div>
</div>